/*
Error: Invalid CSS after "border-box": expected expression (e.g. 1px, bold), was "; }"
        on line 2 of style.css

1: * {
2:   box-sizing: border-box; }
3: 
4: body {
5:   background-image: url("../images/paper/paper.png");
6:   font-family: 'Chivo', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
7:   line-height: 1.5;

Backtrace:
style.css:2
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:1207:in `expected'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/script/lexer.rb:229:in `expected!'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/script/parser.rb:744:in `assert_done'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/script/parser.rb:76:in `parse'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/script/parser.rb:240:in `parse'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/script.rb:27:in `parse'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:1151:in `parse_script'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:721:in `parse_property'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:692:in `parse_property_or_rule'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:658:in `parse_line'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:536:in `build_tree'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:555:in `block in append_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:554:in `each'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:554:in `append_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:545:in `block in build_tree'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:538:in `each'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:538:in `build_tree'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:555:in `block in append_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:554:in `each'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:554:in `append_children'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:409:in `_to_tree'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:294:in `watch'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/plugin.rb:109:in `method_missing'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.24/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"border-box\": expected expression (e.g. 1px, bold), was \"; }\"\A         on line 2 of style.css\A \A 1: * {\A 2:   box-sizing: border-box; }\A 3: \A 4: body {\A 5:   background-image: url(\"../images/paper/paper.png\");\A 6:   font-family: 'Chivo', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;\A 7:   line-height: 1.5;"; }
