
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap');
:root {
  --white: #f5f8fa;
  --black: #0c0c22;

  --primary-color: #4d2b8c;
  --primary-darker: #391972;
  --primary-darkest: #240957;
  --primary-lighter: #63449b;
  --primary-lightest: #856ab6;

  --secondary-color: #85409d;
  --secondary-darker: #71288c;
  --secondary-darkest: #591571;
  --secondary-lighter: #a163b7;
  --secondary-lightest: #c697d7;

  --secondary2-color: #eea727;
  --secondary2-darker: #c5830c;
  --secondary2-darkest: #9c6400;
  --secondary2-lighter: #fdc051;
  --secondary2-lightest: #ffd07a;

  --accent-color: #ffef5f;
  --accent-darker: #e7d539;
  --accent-darkest: #c0af18;
  --accent-lighter: #fff283;
  --accent-lightest: #fff7ae;

  --serif: 'Lora', 'Georgia', serif;
  --sans-serif: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  line-height: 1.5;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1 0 auto;
}

.clear {
  clear: both;
}

h1,
h2,
h3 {
  font-family: var(--serif);
  font-optical-sizing: auto;
  font-style: normal;
}

p,
a {
  font-family: var(--sans-serif);
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

/* HEADER HERO NAV  */

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 4.2rem;
  background: var(--primary-color);
  z-index: 20;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  color: #f9f6ee;
  margin: 0 auto;
  width: 100%;
}

.nav-bar .iht {
  margin: 0 auto 0 8px;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
}

.iht img {
  width: 100%;
}

.iht-logo {
  background: var(--white);
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 2px;
  overflow: hidden;
  margin-right: 8px;
}

.iht-logo img {
  width: 100%;
}

.hamburger {
  display: flex;
}

.menu-links {
  display: none;
}

.menu-links a {
  color: var(--white);

}

.menu-links a:hover {
  color: var(--secondary2-lighter);
}

.split-screen-hero {
  align-items: center;
  display: flex;
  gap: 60px;
  padding: 0 60px;
  max-width: 1400px;
  width: 100%;
  margin: 120px auto;
}

.profile-image-coin {
  border-radius: 50%;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  position: relative;
}

.profile-image {
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 1s;
}

.profile-image img {
  width: 100%;
  object-fit: cover;
}

.profile-image.front img {
  width: 110%;
}

.profile-image.back {
  transform: rotateY(180deg);
}

.profile-image-coin:hover .profile-image.front {
  transform: rotateY(-180deg);
}
.profile-image-coin:hover .profile-image.back {
  transform: rotateY(0);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 60px;
  width: 60%;
}

.details h1 {
  color: var(--primary-darkest);
  font-size: 2.5rem;
}

.details p {
  font-size: 1.25rem;
}

/* NEED FOR ROLLOVER. REFER TO THIS LATER  */
.social-links {
  display: flex;
}

.icons {
  margin: 0em 0.25em;
  float: left;
}

.social-links-holder {
  position: relative;
  height: 2.25em;
  perspective: 500px;
  width: 10rem;
}

.social-links-holder .block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s;
  transform: translateZ(-18px);
}

.social-links-handle {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.social-links-holder .block .social-links-platform,
.social-links-holder .block .social-links-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f8fa;
  transition: background 1s;
}
.social-links-holder .block .social-links-platform {
  transform: rotateX(0deg) translateZ(18px);
}
.social-links-holder .block .social-links-handle {
  transform: rotateX(-90deg) translateZ(18px);
}
.social-links-holder:hover .block {
  transform: translateZ(-18px) rotateX(90deg);
}

.social-links-holder.linkedIn .block .social-links-platform,
.social-links-holder.linkedIn .block .social-links-handle {
  background: #007bb5;
}
.social-links-holder.linkedIn .block .social-links-handle {
  background: #002436;
}
.social-links-holder.linkedIn:hover .block .social-links-handle {
  background: #007bb5;
}
.social-links-holder.linkedIn:hover .block .social-links-platform {
  background: #36beff;
}

.social-links-holder.gitHub .block .social-links-platform,
.social-links-holder.gitHub .block .social-links-handle {
  background: #787878;
}
.social-links-holder.gitHub .block .social-links-handle {
  background: #383838;
}
.social-links-holder.gitHub:hover .block .social-links-handle {
  background: #787878;
}
.social-links-holder.gitHub:hover .block .social-links-platform {
  background: #b8b8b8;
}

.social-links-holder.codePen .block .social-links-platform,
.social-links-holder.codePen .block .social-links-handle {
  background: #191919;
}
.social-links-holder.codePen .block .social-links-handle {
  background: black;
}
.social-links-holder.codePen:hover .block .social-links-handle {
  background: #191919;
}
.social-links-holder.codePen:hover .block .social-links-platform {
  background: #595959;
}

.projectDesc {
  flex: 1;
}

.projectLinks {
  color: #652e67;
  font-size: 1em;
}
.projectLinks ul {
  display: flex;
  justify-content: space-between;
}
.projectLinks ul li {
  font-size: 1.2em;
  margin-right: 5%;
  margin-left: 5%;
}
.projectLinks ul li a {
  color: #652e67;
}

@media screen and (min-width: 820px) {
  .hamburger {
    display: none;
  }
  .menu-links {
    font-size: 1.4rem;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
