/* 
primary color #4D2B8C rgb(77, 43, 140);
primary darker #391972 rgb(57,25,114);
primary darkest #240957 rgb(36,9,87);
primary lighter #63449B rgb(99, 68, 155);
primary lightest #856AB6 rgb(133, 106, 182);

secondary color #85409D rgb(133, 64, 157);
secondary darker #71288C rgb(113, 40, 140);
secondary darkest #591571 rgb(89, 21, 113);
secondary lighter #A163B7 rgb(161, 99, 183);
secondary lightest #C697D7 rgb(198, 151, 215);

secondary2 color #EEA727 rgb(238, 167, 39);
secondary2 darker #C5830C rgb(197, 131, 12);
secondary2 darkest #9C6400 rgb(156, 100, 0);
secondary2 lighter #FDC051 rgb(253, 192, 81);
secondary2 lightest #FFD07A rgb(255, 208, 122);

accent color #FFEF5F rgb(255, 239, 95);
accent darker #E7D539 rgb(231, 213, 57);
accent darkest #C0AF18 rgb(192, 175, 24);
accent lighter #FFF283 rgb(255, 242, 131);
accent lightest #FFF7AE rgb(255, 247, 174);

 */

:root {
  --white: #f5f8fa;
  --black: #0c0c22;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: 'Chivo', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  align-items: center;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1 0 auto;
}

.clear {
  clear: both;
}

h1,
h2,
h3 {
  font-family: 'Asul', 'Georgia', serif;
}

h4 {
  color: #f5f8fa;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

p {
  margin: 1em 0.5em;
}

hr {
  border-color: #c6b1c7;
  margin: 1em 0 1.5em 0;
}

/* HEADER HERO NAV  */

.split-screen-hero {
  display: flex;
}

.profile-image-coin {
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10px;
  height: 200px;
  width: 200px;
  position: relative;
}

.profile-image {
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition:
    transform 1s;
}

.profile-image img {
  width: 100%;
  object-fit: cover;
}

.profile-image.front img {
  width: 110%;
}

.profile-image.back {
  transform: rotateY(180deg);
}

.profile-image-coin:hover .profile-image.front {
  transform: rotateY(-180deg);

}
.profile-image-coin:hover .profile-image.back {
  transform: rotateY(0);
}

/* NEED FOR ROLLOVER. REFER TO THIS LATER  */
.socialMedia {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
@media (min-width: 899px) {
  .socialMedia {
    flex-basis: 25%;
  }
}
.socialMedia hr {
  border-width: 1px;
  text-align: center;
}

.icons {
  margin: 0em 0.25em;
  float: left;
}

.socialMedia-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 899px) {
  .socialMedia-container {
    flex-direction: column;
  }
}

.socialMedia-holder {
  position: relative;
  display: inline-block;
  width: 44%;
  height: 2.25em;
  margin-top: 0.3em;
  margin-left: 3%;
  margin-right: 3%;
  perspective: 500px;
}
@media (min-width: 899px) {
  .socialMedia-holder {
    width: 80%;
  }
}
.socialMedia-holder .block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s;
  transform: translateZ(-18px);
}
.socialMedia-holder .block .socialMediaPlatform,
.socialMedia-holder .block .socialMediaHandle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f8fa;
  transition: background 1s;
}
.socialMedia-holder .block .socialMediaPlatform {
  transform: rotateX(0deg) translateZ(18px);
}
.socialMedia-holder .block .socialMediaHandle {
  transform: rotateX(-90deg) translateZ(18px);
}
.socialMedia-holder:hover .block {
  transform: translateZ(-18px) rotateX(90deg);
}

.socialMedia-holder.twitter .block .socialMediaPlatform,
.socialMedia-holder.twitter .block .socialMediaHandle {
  background: #00aced;
}
.socialMedia-holder.twitter .block .socialMediaHandle {
  background: #004f6e;
}
.socialMedia-holder.twitter:hover .block .socialMediaHandle {
  background: #00aced;
}
.socialMedia-holder.twitter:hover .block .socialMediaPlatform {
  background: #6ed7ff;
}
.socialMedia-holder.linkedIn .block .socialMediaPlatform,
.socialMedia-holder.linkedIn .block .socialMediaHandle {
  background: #007bb5;
}
.socialMedia-holder.linkedIn .block .socialMediaHandle {
  background: #002436;
}
.socialMedia-holder.linkedIn:hover .block .socialMediaHandle {
  background: #007bb5;
}
.socialMedia-holder.linkedIn:hover .block .socialMediaPlatform {
  background: #36beff;
}
.socialMedia-holder.wordPress .block .socialMediaPlatform,
.socialMedia-holder.wordPress .block .socialMediaHandle {
  background: #21759b;
}
.socialMedia-holder.wordPress .block .socialMediaHandle {
  background: #0b2632;
}
.socialMedia-holder.wordPress:hover .block .socialMediaHandle {
  background: #21759b;
}
.socialMedia-holder.wordPress:hover .block .socialMediaPlatform {
  background: #5fb6dd;
}
.socialMedia-holder.gitHub .block .socialMediaPlatform,
.socialMedia-holder.gitHub .block .socialMediaHandle {
  background: #787878;
}
.socialMedia-holder.gitHub .block .socialMediaHandle {
  background: #383838;
}
.socialMedia-holder.gitHub:hover .block .socialMediaHandle {
  background: #787878;
}
.socialMedia-holder.gitHub:hover .block .socialMediaPlatform {
  background: #b8b8b8;
}
.socialMedia-holder.dribbble .block .socialMediaPlatform,
.socialMedia-holder.dribbble .block .socialMediaHandle {
  background: #ea4c89;
}
.socialMedia-holder.dribbble .block .socialMediaHandle {
  background: #a3134b;
}
.socialMedia-holder.dribbble:hover .block .socialMediaHandle {
  background: #ea4c89;
}
.socialMedia-holder.dribbble:hover .block .socialMediaPlatform {
  background: #f7bed4;
}
.socialMedia-holder.codePen .block .socialMediaPlatform,
.socialMedia-holder.codePen .block .socialMediaHandle {
  background: #191919;
}
.socialMedia-holder.codePen .block .socialMediaHandle {
  background: black;
}
.socialMedia-holder.codePen:hover .block .socialMediaHandle {
  background: #191919;
}
.socialMedia-holder.codePen:hover .block .socialMediaPlatform {
  background: #595959;
}

.projectDesc {
  flex: 1;
}

.projectLinks {
  color: #652e67;
  font-size: 1em;
}
.projectLinks ul {
  display: flex;
  justify-content: space-between;
}
.projectLinks ul li {
  font-size: 1.2em;
  margin-right: 5%;
  margin-left: 5%;
}
.projectLinks ul li a {
  color: #652e67;
}
